.DS_Store
JackFrysinger-web.pdf
JackFrysinger-print.pdf
my-resume
JackFrysinger.aux
JackFrysinger.fdb_latexmk
JackFrysinger.fls
JackFrysinger.log
JackFrysinger.out
JackFrysinger.pdf
JackFrysinger.synctex.gz
